<div class="vertical-center">
   <div class="container-form">
     <div class="row">
       <div class="col-md-12">
         super hiper img
       </div>
     </div>
     <div class="row">
       <div class="col-md-12">
         <h1>WEEKEND PROMOTION</h1>
         <h4> PROMOTION ENDS: 20.03.2014, 12:00PM</h4>
       </div>
     </div>
     <div class="row">
       <div class="col-md-12">
          <form [formGroup]="form" (submit)="onRegisterSubmit()">

            <div class="form-check">
              <div class="form-check-small">
                <input type="radio" name="1_ticket" value="">
                <label>1 TICKET €109 </label>
              </div>
            </div>

            <div class="form-check">
              <div class="form-check-small">
                <input type="radio" name="5_tickets" value="">
                <label>5 TICKETS €495 </label>
              </div>
            </div> 

            <div class="form-group">
              <div [ngClass]="{'has-error':(form.controls.first_name.errors && form.controls.first_name.dirty), 'has-success': !form.controls.first_name.errors}" >
                <input type="text" value="first_name" name="first_name" formControlName="first_name">
                  <ul class="help-block">
                    <li *ngIf="form.controls.first_name.errors?.required && form.controls.first_name.dirty">This fiels is required</li>
                    <li *ngIf="form.controls.first_name.errors?.minlength || form.controls.first_name.errors?.maxlength ">Minimum value x, max value x</li>
                  </ul>
              </div>
            </div>

            <div class="form-group">
              <div [ngClass]="{'has-error':(form.controls.last_name.errors && form.controls.last_name.dirty), 'has-success': !form.controls.last_name.errors}">
                <input type="text" value="last_name" name="last_name" formControlName="last_name">
                <ul class="help-block">
                    <li *ngIf="form.controls.last_name.errors?.required && form.controls.last_name.dirty">This fiels is required</li>
                    <li *ngIf="form.controls.last_name.errors?.minlength || form.controls.last_name.errors?.maxlength ">Minimum value x, max value x</li>
                  </ul>
              </div>
            </div>

            <div class="form-group">
              <textarea name="textarea_1" formControlName="textarea_1">textarea_1</textarea>
            </div>

            <div class="form-group">
              <textarea name="textarea_2" formControlName="textarea_2">textarea_2</textarea>
            </div>

            <div class="form-group">
              <div [ngClass]="{'has-error':(form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}">
                <input type="text" name="email" value="email" formControlName="email">
                <ul class="help-block">
                  <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This fiels is required</li>
                  <li *ngIf="form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength ">Minimum value x, max value x</li>
                  <li *ngIf="form.controls.email.errors?.validatorEmail">must be valid</li>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <div [ngClass]="{'has-error':(form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
                <input type="password" name="password" placeholder="password" value="password" formControlName="password">
                <ul class="help-block">
                    <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This fiels is required</li>
                    <li *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength ">Minimum value x, max value x</li>
                </ul>
              </div>
            </div>


            <div class="bottom-form-container">
              <div class="form-group">
                  <input type="text" name="vid_number" value="vid_number">
                  <input type="text" name="tickets_count" value="tickets_count">
                </div>
            </div>

            <div class="bottom-form-container">
              <div class="form-group">
                  <input [disabled]="!form.valid" type="submit" value="submit">  
                </div>
            </div>
        
            </form>
       </div>
     </div>
   </div>
</div>
<div style="background:white">
  <p> first name: {{form.controls.first_name.value}} </p>
  <p> last name name: {{form.controls.last_name.value}} </p>
  <p> email: {{form.controls.email.value}} </p>
  <p> password: {{form.controls.password.value}} </p>
</div>